[Unit]
Description=test
[Service]
ExecStart=/bin/sh /tmp/test.sh
SyslogIdentifier=xively
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
